# Data Cleaning

In [4]:
import pandas as pd

df = pd.read_csv('../data/telecom_churn.csv')
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
# Fill NaN only in numeric columns
numeric_cols = df.select_dtypes(include=['number']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())
if 'customerID' in df.columns:
	df.drop(['customerID'], axis=1, inplace=True)
df = pd.get_dummies(df, drop_first=True)
df.to_csv('../data/cleaned_telecom_churn.csv', index=False)
df.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,TechSupport_Yes,StreamingTV_Yes,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,False,True,False,False,True,False,...,False,False,False,False,False,True,False,True,False,False
1,1,34,56.95,1889.50,True,False,False,True,False,False,...,False,True,True,False,True,False,False,False,True,False
2,0,2,53.85,108.15,True,False,False,True,False,True,...,True,True,True,False,False,True,False,False,False,True
3,0,45,42.30,1840.75,False,True,True,False,True,False,...,False,False,False,True,False,False,True,False,False,False
4,1,5,70.70,353.70,False,False,False,True,False,True,...,False,True,False,False,False,True,False,True,False,True